
.form_container {
    max-width: 350px;
    margin:  0 auto;
    background-color: #fff;
    border-radius: 15px;
}

.form_title {
    text-align: center;
}

.form_container input[type='submit'] {
    border-radius: 8px;
    background-color:#0d6efd;
    color: #fff;
    border: none;
    min-width: 100px;
    min-height: 2.5em;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: .2s;
}

.form_container input[type='submit']:hover {
    background-color:#0d4efd;
}

.form_container p {
    margin-top: 1em;
}

.form_container p a {
    color: #16479d;
    font-weight: bold;
}

/* Form de Imoveis*/
.preview_pet_images {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.preview_pet_images img {
    width: 100px;
    height: 100px;
    margin-left: 1rem;
}




