
/*** Navbar  **/
.main_banner_img {
    background-image: url("../../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}


.main_banner_title {
    padding-top: 15%;
    text-align: center;
    width: 70%;
    margin: auto;
}

.main_banner_title h1 {
    opacity: 0.9;
    line-height: 4.1rem;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 45px;
}


/********** Css Filtro  *********************/

.container_searh {
    text-align: center;
    background-color: #c5d8ec;
    padding: 2rem 0;
    border-radius: 8px;
}

.container_title_h2 h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}


.container_searh form {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}


form {
    width: 90%;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}


/*** Media Queries **/
@media  (max-width: 700px) {

    .container_title_h2 h2 {
        font-size: 1rem;
    }

    .container_searh form {
        display: inline-block;
    }

    form .btn_search {
        width: 80%;        
    }
}


.form_select {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    font-size: 1rem;
    padding: 10px;
}


form input {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {
    font-size: 14px;
    color: gray;
}

input::placeholder {
    font-size: 17px;
    color: #000;
}

form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.btn_search {
    border-radius: 5px;
    font-size: 15px;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
}

.btn_search:hover {
    background-color: #0066d3;
}

.menssage {
    margin: 2rem 10%;
    color: #000;
    font-size: 20px;
}

/** Mensagem de Nenhum encontrado **/

.card_result_button {
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
}

.card_result_button:hover {
    background-color: #0066d3;
}


/***************  CONTAINER CARD ********************/
.container_card  {
    max-width: 1400px;
    margin: 0 auto;
}


.flex_box {
    border:1px solid #d6d6d6;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.flex_box:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.card  {
    justify-content:space-between ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    height:220px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
}

.flex_box .title_card {
    margin-top: 1rem;
}


.flex_box .container_desc {
    font-size: 15px;
    margin: 10px 0;
}

.flex_box .card_text_h3 {
    margin-bottom: 20px;
}

.bnt_desc    {
    text-align: center;
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.bnt_desc:hover{
    background-color: #0066d3;
}

 
.card_filter_pesquisa {
    margin: 2rem auto;
}




@media  (max-width: 1230px) {
    .card  {
        justify-content: space-around;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .flex_box {
        width: 300px;
    }

    .card img {
        height:200px;

    }
}

@media  (max-width: 630px) {

    form .box {
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        border-left: 1px solid rgba(128, 128, 128, 0.2);
        border-right: 1px solid rgba(128, 128, 128, 0.2);
        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        margin: 10px 0;
        border-radius: 5px;
    }
    form {
        padding: 20px 20px;
    }



    .card  {
        justify-content: center;
    }

    .flex_box {
        width: 400px;
    }

    .card img {
        height:200px;

    }
}




@media  (max-width: 1000px) {
    .main_banner_title {
        width: 90%;
    }
    .main_banner_title h1  {
        font-size: 2em;
        line-height: 2.6rem;
    }
    .main_banner_img {
        height: 50vh;
    }
}


@media  (max-width: 660px) {
    .main_banner_title h1  {
        font-size: 1.3em;
        line-height: 2rem;
    }
    .main_banner_img {
        height: 36vh;
    }
    .main_banner_title {
        padding-top: 30%;
    }
}




