
.main_banner_img {
    background-image: url("../../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.main_banner_img .container_searh { 
    padding-top: 15%;
}

.container_searh form {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

form {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

form input {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {
    font-size: 14px;
    color: gray;
}

input::placeholder {
    font-size: 17px;
    color: #000;
}

form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.container_searh {
    padding: 25px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.btn_search {
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
    transform: .3;
}


.btn_search {
    font-size: 15px;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
}

.btn_search:hover {
    background-color: #046fe0e8;
}

.menssage {
    margin: 1rem 10%;
    color: #ffff;
    font-size: 18px;
}



/********  Card Filter  ***********/
.container_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card_flex {
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 15px;
    border:1px solid #c0bfbf4d;
    flex: 1 1 280px;
    justify-content: center;
}

.card_flex:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.card_text {
    padding: 10px;
}

.card_text {
    line-height: 30px;
    padding: 10px;
}

.container_desc {
    font-size: 14px;
    font-weight: 300;
}

.bnt_desc, button {
    font-size: 15px;
}

.bnt_desc {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

