
.main_banner_img {
    background-image: url("../../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.main_banner_img .container_searh { 
    padding-top: 15%;
}

.container_searh form {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

form {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}

form input {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {
    font-size: 14px;
    color: gray;
}

input::placeholder {
    font-size: 17px;
    color: #000;
}

form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.container_searh {
    padding: 25px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.btn_search {
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
    transform: .3;
}


.btn_search {
    font-size: 15px;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
}

.btn_search:hover {
    background-color: #0066d3;
}

.menssage {
    margin: 1rem 10%;
    color: #ffff;
    font-size: 18px;
}


/***************  CONTAINER CARD ********************/

.container_card {
    margin: 5rem 0;
}

.card {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.img_flex img {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.card_text_h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title_card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card_text  {
    text-transform: capitalize;
    padding: 12px;
    padding-top: 1rem;
}

.card_flex {
    border-radius: 10px 10px 0 0;
    width: 100%;
    position: relative;
    margin: 20px;
    flex: 1 1 350px;
    border:1px solid #d6d6d6;
    padding-bottom: 1.5rem;
}

.card_flex:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.container_desc {
    line-height: 2rem;
    font-size: 16px;
    font-weight: 300;
}



.bnt_desc {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 3%;
    text-decoration: none;
}

.bnt_desc:hover {
    background-color: #0066d3;
}
