.footer {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #444;
    border-top: 1px solid #666;
}

.footer li {
    margin: 0 10px;
}