.footer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    height: 16vh;
    color: #bdbcbc;
    background-color: #0c0c1d;
    border-top: 1px solid #666;
}

footer li a {
    color: #bdbcbc;
}

.footer li {
    margin: 0 10px;
}

@media  (max-width: 578px) {
    .footer {
        height: 160px;
        align-items:start;
        flex-direction: column;
    }
    .footer li {
        margin: 10px 1rem;
    }
    .footer li a, span {
        font-size: 13px;
    }
}

