
nav {
    background-color: #fff;
    height: 9cqmin;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav ul li button {
    border-radius: 5px;
    padding: 17px 30px;
}


.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 10em;
    color: #fff;
}


.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #000 ;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.8em 0.8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #007bff;

}

.navbar li:hover > a {
    color: #fff;
}

.active_create > a  {
    color: #fff;
    background-color: #007bff;
}



nav .menu {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}


/******* Media quries ********/

@media (max-width: 900px) {
    .navbar {
        padding: 10px 0;
        flex-wrap: wrap;
        height: 10vh;
    }
}

@media (max-width: 520px) {
    .navbar {
        justify-content: center;
        padding: 0 0;
        margin: 0px 0px;
        height: 22vh;
    }

    .navbar ul li  {
        margin-bottom: 1rem;
        font-size: 15px;
    }

}




