
.rouded_image {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.rouded_image.px75 {
    width: 75px;
    height: 75px;
}


@media  (max-width: 678px) {
    .rouded_image.px75 {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
}