.form_principal {
    border-radius: 12px;
    max-width: 650px;
    margin: 1rem  auto;
    background: #fff;
    padding: 0.5rem;
   
}

.form_principal form {
    max-width: 465px;
    margin: 0 auto;
}

.inputs_principal {
    min-height: 320px;
}

.form_control {

    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

/* Actions */

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.actions button {
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #0d4efd;
    border: none ;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

.inputs_container {
    font-weight: bold;
}
.inputs_container label {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 0.8em;
}