

/********  Silides Galeria Imovel desc  ***********/
.container_details{
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto;
}

.slide_item {
    margin: 2rem 0;
    width: 100%;
    height: 465px;
    object-fit: cover;
}

.details_img {
    margin: 20px;
}


.img_border, img {
    border-radius: 10px;
}


/********  Card Descrição Proprietario  ***********/

.flex_Container_Principal {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
}

.flex_card_Descricao {
    margin: 20px;
    width: 100%;
}

.flex_card_Descricao h1 {
    color: #071c1f;
    font-size: 36px;
}

.Descricao_imovel {
    font-weight: bold;
    font-size: 22px;
    margin: 4rem 0;
}


.Descricao_imovel h2 {
    color: #071c1f;
}


.Descricao_imovel p {
    font-weight: normal;
    font-size: 1rem;
    margin: 20px 0;
    color: #484848; 
}

.flex_card_Descricao {
    height: 50vh;
}



.flex_card_Proprietario{
    padding: 4rem 1.5rem;
    border-radius: 8px;
    margin: 20px;
    width: 700px;
    border:1px solid #d6d6d6;
}

.flex_card_Proprietario h4{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 20px;
    color: #071c1f;
    line-height: 28px;
}


.bnt_desc {
    cursor: pointer;
    border: none;
}

.bnt_desc span {
    font-size: 18px;
}



@media  (max-width: 900px) {
    .flex_Container_Principal {
        flex-wrap: wrap;
    }
}





/********  Card Filter  ***********/
.text_h2  { 
    font-size: 28px;
    padding-left: 20px;
    max-width: 1400px;
    margin: 0 auto;
}


.container_card  {
    max-width: 1400px;
    margin: 0 auto;
}


.flex_box {
    border:1px solid #d6d6d6;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.flex_box:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.card  {
    justify-content:space-between ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    height:220px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
}

.flex_box .title_card {
    margin-top: 1rem;
}


.flex_box .container_desc {
    font-size: 15px;
    margin: 10px 0;
}

.flex_box .card_text_h3 {
    margin-bottom: 20px;
}

.bnt_desc    {
    text-align: center;
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    font-size: 15px;
}

.bnt_desc:hover{
    background-color: #0066d3;
}
