
.card_img {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.card_img img {
    border-radius: 5px;
    margin: 5px;
    width: 500px;
    height: 300px;
}

.card {
    flex: 0 1 400px;
}


.details_imovel {
    margin-top: 2rem;
    margin-bottom: 10rem;
    text-align: center;
}

.details_desc h1 {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-size: 32px;
    color: #282828;
}

.details_desc p {
    line-height: 28px;
    color: #282828;
    font-size: 16px;
    text-transform: capitalize;
}

.desc_preco {
    font-weight: bold;
    color: #282828;
}



/** Styles outros imóveis*/



.container_searh {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 3rem 0;
}

.container_searh form {
    justify-content: center;
    display: flex;
    align-items: center;
}
  
.container_searh label {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

span {
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: bold;
    color: #282828;
}
  
.container_searh  input, select, button  {
    width: 36%;
    border: 1px solid #000;
    border-radius: 5px;
    height: 50px;
    color: #282828;
    font-size: 16px;
    padding: 8px;
    padding-left: 10px;
}

.btn_search {
    font-weight: bold;
    margin-left: 20px;
    border-radius: 5px;
}



/********  Card Filter  ***********/
.container_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card_flex {
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 15px;
    border:1px solid #c0bfbf4d;
    flex: 1 1 280px;
    justify-content: center;
}

.card_flex:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.card_text {
    padding: 10px;
}

.card_text {
    line-height: 30px;
    padding: 10px;
}

.container_desc {
    font-size: 14px;
    font-weight: 300;
}

.bnt_desc, button {
    font-size: 15px;
}

.bnt_desc {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}










