

/* Social List */


/********  Silides Galeria Imovel desc  ***********/
.container_details{
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto;
}

.details_img {
    margin: 20px;
}

.img_border img {
    width: 100%;
    border-radius: 5px;
}


.slide_item {
    width: 100%;
    height: 650px;
    object-fit: contain;
}

@media  (max-width: 580px) {
    .slide_item {
        height: auto;
        object-fit: cover;
    }    
}

/********  Card Descrição Proprietario  ***********/

.flex_Container_Principal {
    margin: 0 auto;
    display: flex;
    max-width: 1400px;
}

.flex_card_Descricao {
    margin: 1rem 2rem;
    width: 100%;
}


@media  (max-width: 578px) {
    .details_ceps ul li {
        list-style: initial;
        margin: 0 10px;
        line-height: 24px;
    }

    .details_ceps_card {
        display: flex;
        flex-wrap: wrap;
    }

    .Descricao_imovel p {
        line-height: 26px;
    }

    .Descricao_imovel h2 {
        font-size: 24px;
    }
    
}

.linha_space {
    margin: 1rem 0;
}



.flex_card_Descricao h3 {
    color: #071c1f;
    font-size: 25px;
    margin-bottom: 1rem;
}

.Descricao_imovel {
    font-weight: bold;
    font-size: 22px;
    margin: 4rem 0;
}


.Descricao_imovel h2 {
    color: #071c1f;
}

.sobre_linha_responsive {
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background: hsla(0,0%,80%,.5);
}



.Descricao_imovel p {
    font-weight: normal;
    font-size: 1rem;
    margin: 1rem 0;
    color: #484848; 
    line-height: 26px;
}

.flex_card_Descricao {
    height: 50vh;
}



.flex_card_Proprietario{
    padding: 4rem 1.5rem;
    border-radius: 8px;
    margin: 20px;
    width: 700px;
    border:1px solid #d6d6d6;
}

.flex_card_Proprietario h4{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 20px;
    color: #071c1f;
    line-height: 28px;
}


.bnt_desc {
    cursor: pointer;
    border: none;
}

.bnt_desc span {
    font-size: 18px;
}



@media  (max-width: 900px) {
    .flex_Container_Principal {
        flex-wrap: wrap;
    }
}



/********  Card Filter  ***********/
.text_h2  { 
    font-size: 32px;
    padding-left: 20px;
    max-width: 1400px;
    margin: 0 auto;
}


.container_card  {
    max-width: 1400px;
    margin: 0 auto;
}


.flex_box {
    border:1px solid #d6d6d6;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.flex_box:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}


.location_list {
    margin-left: -4px;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    margin-bottom: 10px;
}

.location_list svg {
    font-size: 1.3rem;
}
@media  (max-width: 425px) {
    .flex_box {
        justify-content: center;
        margin: 20px 20px;
    }
}







.card  {
    justify-content:space-between ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    height:220px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
}

.flex_box .title_card {
    margin-top: 1rem;
}


.flex_box .container_desc {
    font-size: 15px;
    margin: 10px 0;
}

.flex_box .card_text_h3 {
    margin-bottom: 20px;
}

.bnt_desc    {
    text-align: center;
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    font-size: 15px;
}

.bnt_desc:hover{
    background-color: #0066d3;
}

.details_ceps ul  {
    margin: 1rem 0;
    display: flex;
}


.details_ceps li  {
    list-style: none;
}


.flex_card_Descricao .details_ceps li   {
    padding: 0  5px;
}

.espace_outros_imoveis {
    margin: 5rem 0;
}


.responsive_wa_chat a {
    color: #fff;
    font-size: 18px;
}

.responsive_wa_chat {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #25D366;
}

.responsive_wa_chat svg {
    font-size: 1.5rem;
}

.bnt_desc svg {
    margin-right: 5px;
    font-size: 1.5rem;
}


