
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}


h1 {
  margin-top: 1em;
  margin-bottom: 0.8em;
  color: #0d4efd;
  font-size: 2.1rem;
}

.bold {
  font-weight: bold;
  color: #16479d;
}
