th,
td {
  padding: 1rem 2rem;
}


th[scope='col'] {
  background-color: #0658f1;
  color: #fff;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #eee;
}

.container_meusImoveis {
  width: 80%;
  font-size: 2rem;
  margin: 2rem auto;
}


table {
 width: 80%;
 font-size: 0.8rem;
 margin-left: auto;
 margin-right: auto;

}

caption {
  caption-side: bottom;
  padding: 12px;
}

.button_danger{
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  width: auto;
  background-color: red;
  cursor: pointer;;
  border-radius: 0.2rem;
}

.button_blue{
  width: auto;
  /* background-color:blue; */
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  /* width: 100%; */
  cursor: pointer;
  background-color: #007bff;
  border-radius: 0.2rem;
}

.container{
  min-height: 60vh;

  max-width: auto;
  margin: 0;
}

.info {
  margin-top: 0.9rem;
  width: 80%;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
}
/* a {
  font-size: 15px;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: #007bff;
} */